* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html , body {
    min-height: 100%;
    min-width: 100%;
}
nav {
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
}
.navp1{
    height: 10vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navp1 h2{
    font-size: 2vmax;
}
.navp1 span{
    font-family: cursive;
    font-size: 2.2vmax;
    color: #dadada;
}
#menus{
    height: fit-content;
    padding: 1%;
    width: 100%;
    gap: 5%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}
@media screen and (min-width:450) {
    #menus{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3%;
        flex-wrap: wrap;
    }
    #card{
        display: flex;
        width: 70%;
         margin: 3%;
    }
    #card button{
        color: white;
        background-color: red;
    }
}
#card {
    height: 90vh;
    background-color: #dadada;
    color: black;
    margin: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    border: none;
    border-radius: 100%;
    
}
#card img{
    height: 70vh;
    width: 80%;
    /* margin-bottom: 10%; */
    border: 3px solid white;
    border-radius: 30%;
}
#card h2{
     /* margin-bottom: 10%; */
     font-size: 2vmax;
}
#card span{
    font-size: 1.7vmax;
    color: grey;
}
#card button{
    border: none;
    font-size: 1.9vmax;
    background-color: gray;
}
#card button:hover{
    background-color: black;
    color: white;
    font-size: 2.1vmax;
}
.btn {
    font-size: 2vmax;
    padding: 1%;
    border: 3px solid white;
    background-color: black;
    color: white;
}
.btn a {
    text-decoration: none;
    color: white;
    font-family: cursive;
}
.maincart{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
}
.cartitem button{
    border: none;
    border-radius: 10%;
    height: 6vh;
    width: 4vw;
    font-size: 1.1vmax;
}
.cartitem button:hover{
    height: 8vh;
    width: 5vw;
    font-size: 1.3vmax;
    background-color: black;
    color: white;
}
.maintotal {
    position: absolute;
    top: 20%;
    font-size: 3vmax;
    right: 0%;
}